.page { margin-top: 100px; }
.navbar p { margin-top: 10px; }

.add-entry { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding-top: 20px; }
.add-entry .btn { margin-left: 130px;}

.colaboradores { list-style: none; }
.colaboradores li { margin: 15px 0; }
.colaboradores .header { background-color: #eee; padding: 10px 0; height: 20px;; font-style: italic; }
.colaboradores .indicacoes { margin-top: 15px; }

.removeLink { position: relative; top: 3px; }

.contas-ativas:hover,
.contas-abertas:hover,
.contas-total:hover { font-weight: bold; cursor: default;}

.contas-ativas,
.contas-abertas,
.contas-total { cursor: default;}

h1, h2 { font-family: Georgia, Times, Serif; font-weight: normal; }