<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Bem Melhor</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
	<script src='http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/sha1.js'></script>
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body class="container">

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="span12">
					{% if session.logged_in %}
					<p class="pull-right">
						Logado como <strong>{{ session.logged_as }}</strong>. <a href="{{ url_for('logout') }}">Logout.</a>
					</p>
					{% else %}
					<form action="{{ url_for('login') }}" method='POST' class="navbar-form pull-right">
						<input name='login' type="text" class='span2' placeholder='Login' />
						<input name='pass' type="password" class='span2' placeholder='Senha' />
						<button type='submit' class='btn'>Login</button>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="page span9">
		<div class="row">
			<h1>Bem Melhor</h1>
		</div>

		{% for category, message in get_flashed_messages(with_categories=true) %}
		<div class="row alert {{ category }}">{{ message }}</div>
		{% endfor %}

		{% block body %}
		{% endblock %}
	</div>
</body>
</html>