{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
	$(function () {
		$('a.removeLink').bind('click', function() {
			var idClient = $(this).attr('value');
			var idColabJS = $(this).parents('li').attr('id')
			var idColabPy = idColabJS.split('-')[1]
			$.getJSON($SCRIPT_ROOT + '/_remove_client', {
				idCliente: idClient,
				idColaborador: idColabPy
			}, function(data) {
				$('#cliente-' + idClient).slideUp('fast');
				$('#' + idColabJS + ' .contas-abertas').text(data.abertas);
				$('#' + idColabJS + ' .contas-total').text(data.total);
			});
		});


		$('.conta-checkbox').bind('click', function() {
			var idClient = $(this).attr('value');
			var idColabJS = $(this).parents('li').attr('id')
			var idColabPy = idColabJS.split('-')[1]
			var checado = 0;
			if ($(this).is(':checked')) {
				checado = 1;
			}

			$.getJSON($SCRIPT_ROOT + '/_open_acc', {
				idCliente: idClient,
				idColaborador: idColabPy,
				checked: checado
				}, function(data) {
					$('#' + idColabJS + ' .contas-abertas').text(data.abertas);
					$('#' + idColabJS + ' .contas-total').text(data.total);
			});			
		});

	});


</script>

	<form action="{{ url_for('add_client') }}" method='post' class='add-entry form-horizontal'>
		<div class="control-group">
			<label class="control-label" for="colab-select">Colaborador</label>
			<div class="controls">
				<select name="colab-indicador" id="colab-select">
						{% for colaborador in colaboradores %}
						<option value="{{ colaborador.id }}">{{ colaborador.nome }}</option>
						{% endfor %}				
				</select>
			</div>
		</div>

		<div class="control-group">
			<label for="cliente-input" class="control-label">Cliente</label>
			<div class="controls">
				<input type="text" name='cliente' id='cliente-input' class='cliente'>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button type="submit" name="action" class="btn">Adicionar</button>
			</div>
		</div>
		
	</form>
	<ul class="colaboradores">
		{% for colaborador in colaboradores %}
		{% if not not colaborador.listaIndicacoes %}
		<li id="colaborador-{{ colaborador.id }}">
			<p class="row">
				<span class="span4">{{ colaborador.nome }}</span>
				<span class="span1">
					<span class="contas-abertas">{{ colaborador.indicacoesValidas }}</span> / <span class="contas-total">{{ colaborador.listaIndicacoes|length }}</span>
				</span>
			</p>
			<div class="indicacoes">
				{% for cliente in colaborador.listaIndicacoes %}
					<div class="row" id="cliente-{{ cliente.id }}">
						<div class="span4">{{ cliente.nome }}</div>
						<div class="span1">
							{% if not cliente.conta %}
								<input type="checkbox" class='conta-checkbox' value='{{ cliente.id }}' name="conta">
								{% else %}
								<input type="checkbox" class='conta-checkbox' value='{{ cliente.id }}' name="conta" checked>
							{% endif %}
							<a href="#" class="removeLink" title="Remover cliente" value="{{ cliente.id }}">
								<i class="icon-remove tooltip" title="Remover cliente"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>			
		</li>
		{% endif %}
		{% endfor %}
	</ul>

{% endblock %}