{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
	$(function () {
		$('a.removeLink').bind('click', function() {
			var idClient = $(this).attr('value');
			var idColabJS = $(this).parents('li').attr('id')
			var idColabPy = idColabJS.split('-')[1]
			$.getJSON($SCRIPT_ROOT + '/_remove_client', {
				idCliente: idClient,
				idColaborador: idColabPy
			}, function(data) {
				$('#cliente-' + idClient).slideUp('fast');
				$('#' + idColabJS + ' .contas-abertas').text(data.abertas);
				$('#' + idColabJS + ' .contas-total').text(data.total);
				$('#' + idColabJS + ' .contas-ativas').text(data.ativas);
			});
		});


		$('.conta-checkbox').bind('click', function() {
			var idClient = $(this).attr('value');
			var idColabJS = $(this).parents('li').attr('id')
			var idColabPy = idColabJS.split('-')[1]
			var checado = 0;
			if ($(this).is(':checked')) {
				checado = 1;
			}

			$.getJSON($SCRIPT_ROOT + '/_open_acc', {
				idCliente: idClient,
				idColaborador: idColabPy,
				checked: checado
				}, function(data) {
					$('#' + idColabJS + ' .contas-abertas').text(data.abertas);
					$('#' + idColabJS + ' .contas-total').text(data.total);
					$('#' + idColabJS + ' .contas-ativas').text(data.ativas);
			});			
		});


		$('.ativa-checkbox').bind('click', function() {
			var idClient = $(this).attr('value');
			var idColabJS = $(this).parents('li').attr('id');
			var idColabPy = idColabJS.split('-')[1];
			var checado = 0;
			if ($(this).is(':checked')) {
				checado = 1;
			}

			$.getJSON($SCRIPT_ROOT + '/_activate_acc', {
				idCliente: idClient,
				idColaborador: idColabPy,
				checked: checado
				}, function(data) {
					$('#' + idColabJS + ' .contas-abertas').text(data.abertas);
					$('#' + idColabJS + ' .contas-total').text(data.total);
					$('#' + idColabJS + ' .contas-ativas').text(data.ativas);
				});
		});


		$('.adicionarToolTip').tooltip({
			placement: 'right'
		});

		$('#colab-select').popover({
			trigger: 'focus',
			content: 'Adicionar colaborador. Se já existir, o cliente será adicionado à sua lista de recomendações. Se não, um novo colaborador será criado com esse cliente recomendado.'
		});
		$('#cliente-input').popover({
			trigger: 'focus',
			content: 'Adicione o nome do cliente. Ele estará atrelado ao colaborador acima.'
		});


		$('#colab-select').typeahead({
			source: [
			{% for colaborador in colaboradores %}
				'{{ colaborador.nome }}',
			{% endfor %}
			]
		});

		{% if focaNoCliente %}
			$('#cliente-input').focus();
		{% else %}
			$('#colab-select').focus();
		{% endif %}

	});


</script>


	<form action="{{ url_for('add_client') }}" method='post' class='add-entry form-horizontal row'>
		<div class="span2"><p>Utilize o formulário ao lado para adicionar um novo cliente e o colaborador que o indicou.</p></div>
		<div class="control-group span6">
			<label class="control-label" for="colab-select">Colaborador</label>
			<div class="controls">
				<input value='{{ colaboradorAnterior }}' type="text" name="colab-indicador" id="colab-select" data-placement='right' title='Colaborador.' >
			</div>
		</div>

		<div class="control-group span6">
			<label for="cliente-input" class="control-label">Cliente</label>
			<div class="controls">
				<input type="text" name='cliente' id='cliente-input' class='cliente' title='Cliente'>
			</div>
		</div>

		<div class="control-group span6">
			<div class="controls">
				<button type="submit" name="action" class="btn">Adicionar</button>
			</div>
		</div>
		
	</form>
	<div class="row">
		<h2>Colaboradores</h2>
		<p>A lista abaixo possui os colaboradores e suas respectivas recomendações. 
		Use o checkbox ao lado para indicar se o cliente tem conta aberta ou não.</p>
	</div>
	<div class="row">
		<ul class="colaboradores span9">
			{% for colaborador in colaboradores %}
			{% if not not colaborador.listaIndicacoes %}
			<li id="colaborador-{{ colaborador.id }}" class="span9">
				<div class="row header">
					<span class="span2">{{ colaborador.nome }}</span>
					<span class="span2 adicionarToolTip" data-placement='top' title="Clientes indicados por este colaborador">
						<span class="contas-total">{{ colaborador.listaIndicacoes|length }}</span> clientes indicados
					</span>
					<span class="span2 adicionarToolTip" data-placement='top' title="Clientes indicados por este colaborador que abriram contas">
						<span class="contas-abertas">{{ colaborador.indicacoesValidas }}</span> contas abertas
					</span>
					<span class="span2 adicionarToolTip" data-placement='top' title="Clientes indicados por este colaborador que realizaram aplicações">
						<span class="contas-ativas">{{ colaborador.indicacoesAtivadas }}</span> contas ativas
					</span>
				</div>
				<div class="indicacoes">
					{% for cliente in colaborador.listaIndicacoes %}
						<div class="row" id="cliente-{{ cliente.id }}">
							<div class="span3 offset1">{{ cliente.nome }}</div>
							<div class="span2">
								<label class='checkbox adicionarToolTip' data-placement='left' title='Marque se o cliente abriu conta na empresa ou não'>
								{% if cliente.contaAberta %}
									<input type="checkbox" value='{{ cliente.id }}' name="conta" class='conta-checkbox' checked>
									{% else %}
									<input type="checkbox" value='{{ cliente.id }}' name="conta" class='conta-checkbox'>
								{% endif %}
									Conta aberta
								</label>								
							</div>
							<div class="span2">
								<label class="checkbox adicionarToolTip" data-placement='right' title='Marque se o cliente já fez alguma aplicação pela empresa.'>
								{% if cliente.contaAtiva %}
									<input type="checkbox" value='{{ cliente.id }}' name="ativada" class='ativa-checkbox' checked>
									{% else %}
									<input type="checkbox" value='{{ cliente.id }}' name="ativada" class='ativa-checkbox'>
								{% endif %}
									Conta ativa
								</label>
							</div>
							<div class="span1">
								<a href="#" class="removeLink adicionarToolTip" title="Remover cliente" value="{{ cliente.id }}">
									<i class="icon-remove"></i>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>			
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>

{% endblock %}